<?xml version="1.0"?>
<robot name="jetson" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macros.xacro"/>

    <material name="black">
        <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <xacro:macro name="jetson" params="parent *origin">

        <joint name="jetson_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="jetson_link" />
        </joint>

        <link name="jetson_link">
            <visual name="">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.105 0.105 0.073"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.105 0.105 0.073"/>
                </geometry>
            </collision>
            <xacro:inertial_box mass="0.5" x="0.105" y="0.105" z="0.073">
                <origin xyz="0.0525 0.0 0.0" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_box>
        </link>

    </xacro:macro>
</robot>
