<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_nominal_extrinsics" default="false"/>
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="soporte_inferior.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="jetson.xacro" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:lidar parent="lidar_chassis">
        <origin xyz="0.0 0.0 0.0575" rpy="0 0 0"/>
    </xacro:lidar>

    <xacro:jetson parent="lidar_chassis">
        <origin xyz="0.0 0.0 -0.064" rpy="0 0 0"/>
    </xacro:jetson>
    
    <xacro:sensor_d435 parent="camera_attachment_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
        <origin xyz="0.01 0 -0.01" rpy="0 0 0"/>
    </xacro:sensor_d435>

</robot>
